[run]
omit =
    test_*.py
    thumbor/integration_tests/*
branch = True
source =
    thumbor

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
    from nose_focus import focus
    @focus
