prune dist
prune build
recursive-include thumbor *.py
recursive-include thumbor *.conf
recursive-include thumbor *.xml
recursive-include thumbor *.h

include LICENSE README.mkd CHANGELOG
recursive-include docs *

include redis.conf Makefile requirements thumbor.key
recursive-include tests *.py
recursive-include tests/fixtures *

recursive-include integration_tests *.py
recursive-include integration_tests/imgs *
