tornado>=2.1.1,<2.2.0
pycrypto>=2.4.1,<2.5.0
pycurl>=7.19.0,<7.20.0
pillow>=1.7.5,<=2.0.0
simplejson>=2.1.6,<2.2.0
pymongo==2.1.1
redis==2.4.9
gevent
pyvows
tornado-pyvows
coverage
derpconf>=0.2.0
python-magic>=0.4.3
mock==1.0.1
raven
