<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Comparação das Engines</title>
    <style>
        .resized {
            float: left;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Imagem Original</h1>
    <img src="../flower.jpg" />

    <h2>Conversão sem Resize</h2>

    {% for image in no_resized %}
    <h3>{{ image.0 }}</h3>
    <img src="{{ image.1 }}" />
    {% endfor %}

    <h3>Conversão com Resize</h3>

    {% for image in resized %}
    <div class="resized">
        <h3>{{ image.0 }} ({{ image.1 }})</h3>
        <img src="{{ image.2 }}" />
    </div>
    {% endfor %}

</body>
</html>
