<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Comparacao das Engines</title>
    <style>
        .resized {
            float: left;
            margin-right: 10px;
            overflow: hidden;
        }
        h3 {
            clear: left;
        }
    </style>
</head>
<body>
    <h1>Imagem Original</h1>
    <img src="../{{ image_name }}.jpg" />

    <h2>Conversao sem Resize</h2>

    {% for image in no_resized %}
    <h3>{{ image.0 }}</h3>
    <img src="{{ image.1 }}" />
    {% endfor %}

    <h3>Conversao com Resize</h3>

    {% for image in resized %}
    <div class="resized">
        <h3>{{ image.0 }} ({{ image.1 }})</h3>
        <img src="{{ image.2 }}" />
    </div>
    {% endfor %}

    <h3>Diferencas de Qualidade</h3>

    <h3>PIL</h3>
    {% for image in qualities.PIL %}
    <div class="resized">
        <h4>{{ image.0 }} ({{ image.1 }})</h4>
        <img src="{{ image.2 }}" />
    </div>
    {% endfor %}
    <h3>ImageMagick</h3>
    {% for image in qualities.ImageMagick %}
    <div class="resized">
        <h4>{{ image.0 }} ({{ image.1 }})</h4>
        <img src="{{ image.2 }}" />
    </div>
    {% endfor %}
    <h3>GraphicsMagick</h3>
    {% for image in qualities.GraphicsMagick %}
    <div class="resized">
        <h4>{{ image.0 }} ({{ image.1 }})</h4>
        <img src="{{ image.2 }}" />
    </div>
    {% endfor %}
    <h3>OpenCV</h3>
    {% for image in qualities.OpenCV%}
    <div class="resized">
        <h4>{{ image.0 }} ({{ image.1 }})</h4>
        <img src="{{ image.2 }}" />
    </div>
    {% endfor %}

    <h3>Benchmarking</h3>

    {% for key in times.keys() %}
    <p>{{ key }} - {{ times[key] }}s</p>
    {% endfor %}

</body>
</html>
